# Python (FastAPI & Models)
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
dist/

# Node.js
node_modules/
npm-debug.log*
package-lock.json

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode / iOS
build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
.swiftpm/